<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">
    <title>CapacitaJá!</title>
</head>
<body>
    <h1>Lista de artigos publicados e divulgados pelo próprio site sobre assuntos variados referentes ao combate a desigualdade</h1>
    <h4>
        <a href="/artigos/artigo1.html"><li>Porque as cotas raciais são importantes?</li></a>
        <a href="/artigos/artigo2.html"><li>Qual a diferença entre sexo e gênero?</li></a>
        <a href="/artigos/artigo3.html"><li>Porque a imigração de refugiados não deve ser vista como ameaça.</li></a>
    </h4>
</body>
</html>