<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">
    <title>CapacitaJá</title>
</head>
<body>

    <form action="/cadastroUsuario" method="POST">

        <label>Username</label><br>
        <input type="text" name="user1" required><br>

        <label>Email</label><br>
        <input type="email" name="email1" required><br>

        <label>Senha</label><br>
        <input type="password" name="senha1" required><br>

        <label>Insira um id de para atualizar a senha</label><br>
        <input type="text" name="atualizarSenha" required><br>

        <button type="submit">Criar</button>
        


    </form>
    
</body>
</html>