<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">
    <title>CapacitaJá!</title>
</head>
<body>
    <!-- Header -->
    <header>
        <!-- Nav -->
    <nav>
        <!-- Div logo -->
        <div class="logo">
            <span>CAPACITAJÁ</span>
        </div>
            <!-- Lista não ordenada -->

            <div class="Lista">
                <ul>
                    <li><a href="#Home">Home</a></li>
                    <li><a href="#Sobre">Sobre</a></li>
                    <li><a href="/cursos">Conteúdos</a></li>
                    <li><a href="/artigos/artigos.html">Artigos</a></li>
                    <li><a href="#Equipe">Equipe</a></li>
                    <li><a href="#Contato">Contato</a></li>
                </ul>
        </div>

        </ul>
    </nav>
    </header>
</body>
</html>