<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">
    <title>Document</title>
</head>
<body>
    <form action='/redefinirSenha/verificar_email' method="post">
        <br> <label >Insira abaixo o código enviado ao seu email:</label><br>
        <input type="text" name="codigo" placeholder="Código"><br>
        <div>
            <p>{{aviso3}}</p>
        </div>
        <button type="submit">Enviar</button>
    </form>
</body>
</html>